body{
  position:relative;
  min-height: 100%;
}

.app {
  text-align: center;
  background-color: #5f9ea0;
  margin: 0;
  padding: 0;
  
}

.Snow{
  background-image: url("./pic/snow.png");
  height:200px;
  background-repeat: no-repeat;
  background-position:center ;
  background-size: 10%;

  
  

}

p{
  display: flex;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 3rem;
  background-color: wheat;
  text-align: center;
}
.Clouds{
  background-image: url("./pic/clouds.png");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13%;


}
.form{
  display: flex;
  justify-content: center;
  text-align: center;
  
}
select{
  font-size: 2rem;
}